header {
  background-color: $background-color-dark;
  h1 {
    color: $text-color-light;
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
  }
  ul li {
    display: none;
    padding-left: .5em;
    padding-bottom: .3em;
    color: $text-color-light;
    span {
      display: none;
    }
  }
  ul li:before {
    content: ".";
    display: inline-block;
    position: relative;
    bottom: 0.25em;
    right: 1em;
  }
  ul li:last-child:before {
    content: "";
  }
  .icon-menu3:before {
    padding-left: .5em;
    color: $text-color-light;
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked ~ ul li {
  display: block;
  }
}

@media only screen and (min-width: 650px) {
  header {
    .icon-menu3 {
      display: none;
    }
    h1 {
      position: absolute;
      padding-top: 1.9em;
      padding-left: 1.9em;
      padding-bottom: 1.9em;
    }
    ul {
      position: relative;
      padding-top: 5em;
      padding-right: 5em;
      padding-bottom: 5em;
      font-size: .7em;
      text-transform: uppercase;
      li {
        padding-left: 1em;
        padding-right: 1em;
        float: right;
        display: inline;
        span {
          display: inline;
          color: $text-color-light;
        }
      }
    }
  }

}
